.expanded {
  &[data-status=pre] {
    z-index: 0;
    pointer-events: none;
    display: none;
  }
   .expanded-content {
    transition: opacity 400ms 200ms $ease;
  }
}

.whip {
  position: absolute;
  bottom: 150px;
  left: 8%;
  width: 80%;

  @media (min-width: 1300px) {
    width: 1080px;
    left: calc( 50vw - 570px)
  }
}

.links-box   {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.links-wrap {
   background: rgba($color__darkblue, 0.9);
   border-radius: 2px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px;

}

.customer-links {
  position: absolute;
  bottom: 290px;
  z-index: 100;
  right: 5%;
  max-width: 320px;
  @include media-query($widescreen) {
    right: auto;
    left: 70%;
  }
}
.specialist-links {
  position: absolute;
  bottom: 290px;
  left: 5%;
  z-index: 100;
  max-width: 320px;

  @include media-query($widescreen) {
    left: auto;
    right: 70%;
  }

}
.simplr-links {
  position: absolute;
  top: 220px;
  background: transparent;

  @include media-query($widescreen) {
    top: 240px;
  }
  z-index: 100;
  left: 50%;
  width: auto;
  transform: translateX(-50%);

  .links-box {
    flex-wrap: nowrap;
  }

  .sample-button:nth-child(even) {
    margin: 4em -5em -4em;
    @include media-query($widescreen) {
      margin: 4em -3em -4em;
    }
  }
}
.sample-button {
  border-radius: 4px;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #efefef;
  padding: 8px 15px;
  display: inline-block;
  transition: transform 300ms 20ms $ease, opacity 500ms 20ms $ease;
  flex: 1 1 auto;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
  background: #fafafa;

  span {
    flex: 0 0 auto;
    text-align: left;
    padding-left: 8px;
  }

  path {
    stroke: currentColor !important;
  }

  i {
    transform: scale(0.7);
    transform-origin: 50% 50%;
    opacity: 0.9;
    transition: transform 300ms $ease, opacity 300ms $ease;
    flex: 0 0 auto;
  }




  &:hover {
    transform: scale(1.1)
  }

}

.links-box:hover {
  .sample-button {
    transform: scale(0.95);
    opacity: 0.7;
    &:hover {
      transform: scale(1.05);
      opacity: 1;

      i {
        transform: scale(0.85)
      }
    }
  }
}


.all-links.links-active {
  .links-wrap {
    opacity: 0.7;
  }
  .links-wrap.has-links {
    opacity: 1;
  }
  .sample-button {
    transform: scale(0.925);
    opacity: 0.8;

    &:hover {
      transform: scale(1);
      opacity: 0.95;

    }

    &.active {
      transform: scale(1.04);
      opacity: 1;

      &:hover {
        transform: scale(1.1);

         i {
          transform: scale(1);
          transform-origin: 50% 50%;
          opacity: 1;
          transition: transform 300ms $ease, opacity 300ms $ease;
        }
      }
    }
  }
}

.chat-timeline {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  width: calc(100% - 520px);
  left: 50%;
  max-width: 900px;
  transform: translateX(-50%);
  height: 50vh;

}
.simplr-message {
  display: block;
  margin: auto;
  max-width: 450px;
  width: 60%;
  padding: 12px;
  text-align: center;
}


  .message.expanded {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 120px;

    &[data-status=active] {
      .speech-bubble {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &[data-author=Customer] {
      .speech-bubble {
        margin: 0 0 0 auto;
      }
    }
    .speech-bubble {
      margin-right: auto;
      flex: 0 0 auto;
      max-width: 80%;
    }
  }
