.introduction {
  .intro-content {
    transition: opacity 400ms 200ms $ease;
  }
  .intro-bg {
    transition: opacity 600ms 600ms $ease;
}
  &[data-status=post] {
    .intro-content,
    .intro-bg {
      opacity: 0;
    }

    .intro-content {
      & > * {
        transition: transform 300ms 100ms $ease;
        transform: translateY(30px);
        &:nth-child(2) {
          transition-delay: 200ms;
        }
        &:nth-child(3) {
          transition-delay: 300ms;
        }
      }
    }
  }
}