.image-weirdo {
  position: relative;
  padding-bottom: 90%;
  z-index: 0;
  max-width: 550px;
  width: 90%;
  picture.responsive-image {
    &::before {
      padding-bottom: 100% !important;
    }
  }
  .image-1 {
    position: absolute;
    width: 55% ;
    left: 17%;
    z-index: 10;
    font-size: 30px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
  }
  .image-2 {
    position: absolute;
    width: 55%;
    right:0%;
    top: 24%;
    z-index: 11;
    font-size: 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.14);
    .responsive-image::before {
      padding-bottom: 100% !important;
    }
  }
  .image-3 {
    position: absolute;
    width: 55%;
    font-size: 20px;
    left: 0%;
    top: 45%;
    z-index: 12;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.1);
    .responsive-image::before {
      padding-bottom: 100% !important;
    }
  }
  .image-4 {
    position: absolute;
    bottom:-10%;
    width: 60%;
    left: 20%;
    z-index: 9;
  }
}