html:not(.no-js) {
  // [data-anim-in] {
  //   visibility: hidden;
  // }
  // [data-anim-in-children] {
  //   & > * {
  //     visibility: hidden;
  //   }
  // }
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}
@keyframes pulse {
  from {
     opacity: 1;
  }
  to {
    opacity: 0.6
  }
}

[data-rotate-me] {
  animation: rotate 30s linear infinite;
  transform-origin: 50% 50%;

  &[data-rotate-me=reverse] {

    animation: rotate 48s linear infinite reverse;
  }
}

[data-pulse-me] {
    transform-origin: 50% 50%;
    animation: pulse 5s alternate-reverse linear infinite
}

@import 'ball';