html:not(.no-js) {
  [data-anim-in] {
    visibility: hidden;
  }
  [data-anim-in-children] {
    & > * {
      visibility: hidden;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes backforth {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(12%)
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(10%)
  }
  100% {
    transform: translateX(0%);
  }
}

[data-rotate-me] {
  animation: rotate 30s linear infinite;
  transform-origin: 50% 50%;

  &[data-rotate-me=reverse] {

    animation: rotate 48s linear infinite reverse;
  }
}

[data-pulse-me] {
    transform-origin: 50% 50%;
    animation: pulse 5s alternate-reverse linear infinite
  }

  [data-back-forth] {
    position: relative;
    display:block;
      // animation: rotate 30s linear infinite;

    transform-origin: 50% 50%;
    animation: backforth 102s alternate-reverse linear infinite;
    &:nth-child(2), [data-back-forth="2"] {
      animation: backforth 63s alternate linear infinite;
    }
    &:nth-child(3),  [data-back-forth="3"]{
      animation-duration: 100s;
      animation-delay:4s
    }
    &:nth-child(4),  [data-back-forth="4"] {
      animation-duration: 95s;
      animation-direction: alternate;
    }

}


@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

@keyframes pulse2 {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse2;
  animation-timing-function: ease-in-out;
}