/* purgecss start ignore */

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

header.banner {
  padding-top: 0;
  padding-bottom: 0;
  &::before {
    @extend %psuedo;
    transition: opacity 300ms $ease;
    opacity: 0;
  }

  &.headroom.js {
    position: fixed;
    top: 0;
    animation-duration: 300ms;
    animation-timing-function: $ease;
    animation-fill-mode: both;
  }

  spacer {
    transition: max-height 200ms $ease;
  }

  &.headroom--not-top {
    .site-logo::before {
      opacity: 1
    }

    }

  &.headroom--unpinned {
    animation-name: slideOutUp;

  }
  &.headroom--pinned {
    animation-name: slideInDown;
    &.headroom--not-top {
      .spacer {
        max-height: 1.275rem;
      }
      &::before {
        opacity: 1;
      }
    }
  }
}

.site-logo  {
  position: relative;
  &::before {
    @extend %psuedo;
    background: $color__darkblue;
    @include transition;
    opacity: 0;
  }
}

/* purgecss end ignore */