/**
 * External
 */

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-size: 17px;
}
@import "~basiclightbox/dist/basicLightbox.min.css";

sub, sup {
  display: inline-block;
}

.section-wrap {
  @apply w-full flex flex-col items-center content-center min-h-screen relative bg-var-bg text-var-text
}
.max-w-90 {
  max-width: 90%;
}

.h-60vw {
  height: 60vw
}

.pl-50p {
 padding-left: 50%
}

.psuedoish {
  @apply absolute top-0 left-0 w-full h-full z-0;
}

.header-label {
  @apply uppercase antialiased text-2xl font-bold;
}

.header-mega {
  @apply antialiased text-5xl leading-none font-bold;
  letter-spacing: -0.035em;

  @screen lg {
    @apply text-huge
  }
}

.section-icon {
  path[class*="cls"], path {
    fill: currentColor;
  }
  @apply py-2 pr-6 max-w-2xs w-24 h-24;


  @extend .object-contain-child;
}

.header-resp {
  @apply antialiased leading-none font-bold;
  letter-spacing: -0.035em;
  font-size: calc(36px + 2.3vw);
  margin-bottom: 0.2em;

  @screen xl {
    // font-size: 72px;
  }
}

.subheader-resp {

  @apply antialiased leading-tight font-bold;
  letter-spacing: -0.035em;
  font-size: calc(22px + 0.36vw);

  @screen xl {
    // font-size: 38px;
  }
}

.standard-content {
  @apply  px-6 py-10 mx-auto my-12 text-black bg-white max-w-4xl shadow-fun ;
}

@screen md {
  .standard-content {
    @apply p-12 shadow-bigfun;
  }
}

.burn-bottom {
  &::before {
    @extend %psuedo;
    height: 60% !important;
    top: auto !important;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgba(black, 0.8))
  }
}

.margin-random {
  &:nth-child(2) {
    margin: 1.4rem 0.8rem 0.5rem 2.4rem;
  }
  &:nth-child(3) {
    margin: 2.4rem 0.3rem 1.2rem .4rem;
  }
}

.line-accent {
  position: relative;

  &::before {
    left: -0.5em;
    height: 1em;
    width: 0.1em;
    background: var(--color-accent);
    position: absolute;
    top: 0.4em;
    content:'';
    display: block;
  }
}

.fill-paths {
  path {
    fill: currentColor;
  }
}

.timeline-grad {
  background: linear-gradient(to right, var(--color-background), var(--color-accent));
  width: calc(100% + 12rem);
}