/**
 * Variables
 */

$theme-colors: (
  primary: #525ddc,

);
$color__darkblue: #22386F;
$color__lightblue: #60afdd;
$color__lightgray: #efefef;
$color__black: #1a1a1a;
$color__text: #3a3a3a;
$color__white: #ffffff;

$color__midblue: #44B2E0;
$color__bluegray: #F3F7FB;


.psuedoish {
  @extend %psuedoish;
}

.isbg, .bg {
  @extend %psuedoish;
  position: absolute;
  display: none;
  @apply h-full;
  img {
    @extend %psuedoish;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover";
  }
}

.rellax {
  @apply -mt-8;
  height: calc(100% + 2rem);
  &>img {
    object-fit: cover;
    font-family: "object-fit: cover;";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}