/**
 * Components
 */

@import 'button';
@import 'pages';
@import 'decorations';
@import 'headroom';
@import 'icons';
@import 'image-element';
@import 'lightbox';
@import 'menus';
@import 'rte';

svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}

.font-bigger {
  .button {
    font-size: 22px;
  }

  .link-icon {
    font-size: 22px;
  }
}

.small-arrows {
  @media (max-width: 767px) {
    transform: rotateY(-180deg) rotateZ(80deg);
  }
}