/** Config */
@import 'config/variables';
@import 'config/external';

/** Common */
@import 'common/global';

/** Components */
@import 'components/index';

/** Partials */
@import 'partials/header';
@import 'partials/vidbox';
@import 'partials/flex-content';

@import 'scenes/chat';
@import 'scenes/intro';
@import 'scenes/expanded';


@import 'animations/animations';
@import 'auth/auth';


.image--26 {
  margin-bottom: -3.3%
}

.image--25 {
  margin-bottom: -2.2%;
}

[data-scene]  {
  @media (min-height: 1000px) {
    max-height: 1000px;
    min-height: 0;
    top: 50%;
    margin-top: -500px;
  }
}